.wrapper {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px;
    border: 1px solid #ccc;
}
.blog {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.header {
    color: red;
}
.btn_boot {
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
}
