.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__inner {
        display: flex;
        margin: 10px;

        label {
            width: 200px;
        }
    }
    button {
        width: 300px;
        margin: 0 auto;
    }
    button:active {
        background-color: aquamarine;
    }
}
// .hide {
//     display: none;
// }
